<div >
  <div>
    <!-- <app-key-press [displayLetter]="generatedLetter" [currentLetterItem]="newLetterItem"></app-key-press> -->
    <app-key-press [currentLetterItem]="newLetterItem"></app-key-press>
  </div>
  <div>
    <div class="col-md-12">
        <p class="letterStyle" [ngStyle]="{left: this.newPositionFromLeft,top: this.newPositionFromTop}" >{{generatedLetter}}</p>
        <!-- <p class="letterStyle" [ngClass]="{newPosition}" >{{generatedLetter}}</p> -->
    </div>
  </div>
  <div>
    <button (click)="startGettingLetters($event)">Start</button>
    <button (click)="stopGettingLetters($event)">Stop</button>
  </div>
</div>